<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>AnonCuza</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>

    {%block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}">

    <script>
        if (window.location.pathname === '/') {
            // Save and restore scroll position
            
            window.addEventListener('beforeunload', function () {
                sessionStorage.setItem('scrollPosition', window.scrollY);
            });

            window.addEventListener('load', function () {
                const scrollPosition = sessionStorage.getItem('scrollPosition');
                if (scrollPosition !== null) {
                    window.scrollTo({ top: parseInt(scrollPosition, 10), behavior: 'auto' });
                }
            });
           
        }
    </script>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark border-bottom">
        <div class="dropdown" aria-labelledby="dropdownMenuButton">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
               
            </button>            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{url_for('index')}}">Home</a>
                <a class="dropdown-item" href="{{url_for('create_post')}}">Create post</a>
                <a class="dropdown-item" href="{{url_for('chat')}}">Chat</a>
                <a class="dropdown-item" href="{{url_for('my_posts')}}">My Profile</a>
                <a class="dropdown-item" href="{{url_for('logout')}}">Log out</a>
            </div>
        </div>
        <h1>AnonCuza</h1>
    </nav>
    <br>


<!-- Page content-->
    <div class="container-fluid">

        {% block body %}
        {% endblock %}

    </div>
    

    

    
</body>

</html>