
{% extends 'base.html' %} 
    
{%block head %} 

{% endblock %}

{%block body %} 
<div class="container mt-5">

    <div class="d-flex justify-content-end mb-3">
        <a href="{{ url_for('index', sort_by='newest') }}" 
           class="btn btn-outline-primary me-2 {{ 'active' if sort_by == 'newest' else '' }}">
           Newest
        </a>
        <a href="{{ url_for('index', sort_by='likes') }}" 
           class="btn btn-outline-primary me-2 {{ 'active' if sort_by == 'likes' else '' }}">
           Most Liked (All Time)
        </a>
        <a href="{{ url_for('index', sort_by='most_liked_today') }}" 
           class="btn btn-outline-primary me-2 {{ 'active' if sort_by == 'most_liked_today' else '' }}">
           Most Liked (Today)
        </a>
    </div>



    {% for post in posts %}
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">
                <a href="/post/{{ post.id }}"> {{ post.content | truncate(350, True) }}</a>
            </p>
            

            <div class="d-flex align-items-center gap-2">
                <small class="text-muted">
                    {% if post.date_created.date() == current_time.date() %}
                        Posted today at {{ post.date_created.strftime('%H:%M') }}
                    {% elif post.date_created.date() == (current_time - timedelta(days=1)).date() %}
                        Posted yesterday at {{ post.date_created.strftime('%H:%M') }}
                    {% else %}
                        Posted on {{ post.date_created.strftime('%d %b %Y at %H:%M') }}
                {% endif %}
                </small>
                
                <div class="d-flex gap-2 position-absolute end-0 px-2">
                    <a href="{{ url_for('view_post', id=post.id) }}" class="btn btn-outline-primary btn-sm">
                        💌 Comment ({{ post.get_comment_count() }})
                    </a>
                    <form action="{{ url_for('like_post', post_id=post.id) }}" method="post" class="m-0">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button type="submit" class="btn btn-outline-primary btn-sm">👍 Like ({{ post.likes }})</button>
                    </form>
                </div>
                
            </div>
        
        </div>
    </div>
    {% else %}
    <p>No posts yet! Click "Create New Post" to add one.</p>
    {% endfor %}
    <!--<div class="d-grid gap-2 d-md-block">
        <a href="/create" class="btn btn-success rounded-circle shadow floating-btn p-5 btn-sm" type="button">
            <i class="bi bi-plus"></i>
        </a>
    </div>-->
</div>
{% endblock %}