
{% extends 'base.html' %} 
    
{%block head %} 

{% endblock %}

{%block body %} 
<div class="container mt-5">

    <div class="d-flex justify-content-end mb-3">
        <a href="{{ url_for('index', sort_by='newest') }}" 
           class="btn btn-outline-primary me-2 {{ 'active' if sort_by == 'newest' else '' }}">
           Newest
        </a>
        <a href="{{ url_for('index', sort_by='likes') }}" 
           class="btn btn-outline-primary me-2 {{ 'active' if sort_by == 'likes' else '' }}">
           Most Liked (All Time)
        </a>
        <a href="{{ url_for('index', sort_by='most_liked_today') }}" 
           class="btn btn-outline-primary me-2 {{ 'active' if sort_by == 'most_liked_today' else '' }}">
           Most Liked (Today)
        </a>
    </div>


{% endblock %}